.not-found-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20% auto 0 auto;
  justify-content: space-between;
  max-width: 937px;
}

  .not-found-page-content__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 158px;
    width: 137px;
    font-size: 50px;
    font-weight: 700;
    color: #880e4f;
    background: url(/not-found.svg) no-repeat 0 0;
    background-size: cover;
  }

    .not-found-page-content__image__text {
      margin: 0;
      padding: 15px;
    }

  .not-found-page-content__separator {
    display: none;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 2px;
  }

  .not-found-page-content__info {
    max-width: 550px;
    align-self: center;
  }
    .not-found-page-content__info__title {
      font-weight: 700;
      font-size: 25px;
      color: rgba(0, 0, 0, 0.87);
    }

    .not-found-page-content__info__text {
      font-size: 18px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.54);
    }
  

    .not-found-page-content__link {
    display: block;
    margin: 0 auto;
    padding: 15px;
    width: 270px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #e91e63;
    border: 1px solid #e91e63;
    border-radius: 26px;
  }

  .not-found-page-content__link:hover {
    background: #e91e63;
    color: #ffffff;
  }