.card {
  width: 420px;
  background-color: white;
  margin: 20px 0px 20px 0px;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 5px;

}

.card.dark {
  background-color: #161B22;
}


.card:hover {
  cursor: pointer;
  transition: all 0.25s;
  border: 1px solid gray;
  border-radius: 5px;
}
