.flyout {
  position:sticky;
  bottom: 0;
  height: 40px;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #F7F8FA;
  border-top: 2px solid lightgray;

}
.flyout.dark {
  background-color: #161B22;
  border-top: 2px solid black;

}

.flyout__text {
  margin: 0px 100px 0px 20px;
}