.search-form {
  display: flex;
  background-color: beige;
}

/* Style the search box inside the navigation bar */
.searchbar {
  float: right;
  padding: 6px;
  border: 1px;
  border-radius: 5px;
  border-color: black;
  margin: 8px 20px 8px 20px;
  font-size: 17px; 
}

.search-button {
  margin: 8px 0px;
}